# Введение

В этом задании Вы продолжите работать с данными из семинара [Articles Sharing and Reading from CI&T Deskdrop](https://www.kaggle.com/gspmoreira/articles-sharing-reading-from-cit-deskdrop).

In [ ]:
import pandas as pd
import numpy as np
import math
import scipy

## Загрузка и предобработка данных

Загрузим данные и проведем предобраотку данных как на семинаре.

In [ ]:
!wget -q -N https://www.dropbox.com/s/z8syrl5trawxs0n/articles.zip?dl=0 -O articles.zip
!unzip -o -q articles.zip

In [ ]:
articles_df = pd.read_csv('articles/shared_articles.csv')
articles_df = articles_df[articles_df['eventType'] == 'CONTENT SHARED']
articles_df.head(2)

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en

[2 rows x 13 columns]

In [ ]:
interactions_df = pd.read_csv('articles/users_interactions.csv')
interactions_df.head(2)

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US

[2 rows x 8 columns]

In [ ]:
interactions_df.personId = interactions_df.personId.astype(str)
interactions_df.contentId = interactions_df.contentId.astype(str)
articles_df.contentId = articles_df.contentId.astype(str)

In [ ]:
# зададим словарь определяющий силу взаимодействия
event_type_strength = {
   'VIEW': 1.0,
   'LIKE': 2.0, 
   'BOOKMARK': 2.5, 
   'FOLLOW': 3.0,
   'COMMENT CREATED': 4.0,  
}

interactions_df['eventStrength'] = interactions_df.eventType.apply(lambda x: event_type_strength[x])

Оставляем только тех пользователей, которые произамодействовали более чем с пятью статьями.

In [ ]:
users_interactions_count_df = (
    interactions_df
    .groupby(['personId', 'contentId'])
    .first()
    .reset_index()
    .groupby('personId').size())
print('# users:', len(users_interactions_count_df))

users_with_enough_interactions_df = \
    users_interactions_count_df[users_interactions_count_df >= 5].reset_index()[['personId']]
print('# users with at least 5 interactions:',len(users_with_enough_interactions_df))

# users: 1895
# users with at least 5 interactions: 1140

Оставляем только те взаимодействия, которые относятся к отфильтрованным пользователям.

In [ ]:
interactions_from_selected_users_df = interactions_df.loc[np.in1d(interactions_df.personId,
            users_with_enough_interactions_df)]

In [ ]:
print('# interactions before:', interactions_df.shape)
print('# interactions after:', interactions_from_selected_users_df.shape)

# interactions before: (72312, 9)
# interactions after: (69868, 9)

Объединяем все взаимодействия пользователя по каждой статье и сглажиываем полученный результат, взяв от него логарифм.

In [ ]:
def smooth_user_preference(x):
    return math.log(1+x, 2)
    
interactions_full_df = (
    interactions_from_selected_users_df
    .groupby(['personId', 'contentId']).eventStrength.sum()
    .apply(smooth_user_preference)
    .reset_index().set_index(['personId', 'contentId'])
)
interactions_full_df['last_timestamp'] = (
    interactions_from_selected_users_df
    .groupby(['personId', 'contentId'])['timestamp'].last()
)
        
interactions_full_df = interactions_full_df.reset_index()
interactions_full_df.head(5)

               personId             contentId  eventStrength  last_timestamp
0  -1007001694607905623  -5065077552540450930       1.000000      1470395911
1  -1007001694607905623  -6623581327558800021       1.000000      1487240080
2  -1007001694607905623   -793729620925729327       1.000000      1472834892
3  -1007001694607905623   1469580151036142903       1.000000      1487240062
4  -1007001694607905623   7270966256391553686       1.584963      1485994324

Разобьём выборку на обучение и контроль по времени.

In [ ]:
from sklearn.model_selection import train_test_split

split_ts = 1475519530
interactions_train_df = interactions_full_df.loc[interactions_full_df.last_timestamp < split_ts].copy()
interactions_test_df = interactions_full_df.loc[interactions_full_df.last_timestamp >= split_ts].copy()

print('# interactions on Train set: %d' % len(interactions_train_df))
print('# interactions on Test set: %d' % len(interactions_test_df))

interactions_train_df

# interactions on Train set: 29329
# interactions on Test set: 9777

                   personId  ... last_timestamp
0      -1007001694607905623  ...     1470395911
2      -1007001694607905623  ...     1472834892
6      -1032019229384696495  ...     1469129122
7      -1032019229384696495  ...     1459376415
8      -1032019229384696495  ...     1464054093
...                     ...  ...            ...
39099    997469202936578234  ...     1472479493
39100    998688566268269815  ...     1474567164
39101    998688566268269815  ...     1474567449
39103    998688566268269815  ...     1474567675
39105    998688566268269815  ...     1474567514

[29329 rows x 4 columns]

Для удобства подсчёта качества запишем данные в формате, где строка соответствует пользователю, а столбцы будут истинными метками и предсказаниями в виде списков.

In [ ]:
interactions = (
    interactions_train_df
    .groupby('personId')['contentId'].agg(lambda x: list(x))
    .reset_index()
    .rename(columns={'contentId': 'true_train'})
    .set_index('personId')
)

interactions['true_test'] = (
    interactions_test_df
    .groupby('personId')['contentId'].agg(lambda x: list(x))
)

# заполнение пропусков пустыми списками
interactions.loc[pd.isnull(interactions.true_test), 'true_test'] = [
    list() for x in range(len(interactions.loc[pd.isnull(interactions.true_test), 'true_test']))]

interactions.head(1)

                                                       true_train                                          true_test
personId
-1007001694607905623  [-5065077552540450930, -793729620925729327]  [-6623581327558800021, 1469580151036142903, 72...

## Библиотека LightFM

Для рекомендации Вы будете пользоваться библиотекой [LightFM](https://making.lyst.com/lightfm/docs/home.html), в которой реализованы популярные алгоритмы. Для оценивания качества рекомендации, как и на семинаре, будем пользоваться метрикой *precision@10*.

In [ ]:
!pip install lightfm
from lightfm import LightFM
from lightfm.evaluation import precision_at_k

Requirement already satisfied: lightfm in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (0.22.2.post1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)

## Задание 1. (2 балла)

Модели в LightFM работают с разреженными матрицами. Создайте разреженные матрицы `data_train` и `data_test` (размером количество пользователей на количество статей), такие что на пересечении строки пользователя и столбца статьи стоит сила их взаимодействия, если взаимодействие было, и стоит ноль, если взаимодействия не было.

In [ ]:
# Ваш код здесь
data_train = pd.pivot_table(
    interactions_train_df,
    values='eventStrength',
    index='personId',
    columns='contentId'
).fillna(0)
data_test = pd.pivot_table(
    interactions_test_df,
    values='eventStrength',
    index='personId',
    columns='contentId'
).fillna(0)

In [ ]:
content_ids_full = interactions_full_df.sort_values(by=['last_timestamp'])['contentId'].unique()
person_ids_full = interactions_full_df.sort_values(by=['last_timestamp'])['personId'].unique()

In [ ]:
data_train_shape = data_train.shape
personIds_train = data_train.index.to_list()
columnIds_train = [np.where(content_ids_full == i)[0][0] for i in data_train.columns.to_list()]
sparseRows_train = np.array([[np.where(person_ids_full == i)[0][0]] * data_train_shape[1] for i in personIds_train]).flatten()
sparseColumns_train = np.array(columnIds_train * data_train_shape[0])
data_train_flatten = data_train.to_numpy().flatten()
data_train_sparse = scipy.sparse.csr_matrix((data_train_flatten, (sparseRows_train, sparseColumns_train)), shape=(1140, 2984))

In [ ]:
data_test_shape = data_test.shape
personIds_test = data_test.index.to_list()
columnIds_test = [np.where(content_ids_full == i)[0][0] for i in data_test.columns.to_list()]
sparseRows_test = np.array([[np.where(person_ids_full == i)[0][0]] * data_test_shape[1] for i in personIds_test]).flatten()
sparseColumns_test = np.array(columnIds_test * data_test_shape[0])
data_test_flatten = data_test.to_numpy().flatten()
data_test_sparse = scipy.sparse.csr_matrix((data_test_flatten, (sparseRows_test, sparseColumns_test)), shape=(1140, 2984))

## Задание 2. (1 балл)

Обучите модель LightFM с `loss='warp'` и посчитайте *precision@10* на тесте.

In [ ]:
# Ваш код здесь
model = LightFM(loss='warp')
model.fit(data_train_sparse, epochs=20)

In [ ]:
predictions = model.predict(sparseRows_test, sparseColumns_test)

In [ ]:
prc = precision_at_k(model, data_test_sparse)

In [ ]:
prc.mean()

0.6076374

## Задание 3. (3 балла)

При вызове метода `fit` LightFM позволяет передавать в `item_features` признаковое описание объектов. Воспользуемся этим. Будем получать признаковое описание из текста статьи в виде [TF-IDF](https://ru.wikipedia.org/wiki/TF-IDF) (можно воспользоваться `TfidfVectorizer` из scikit-learn). Создайте матрицу `feat` размером количесвто статей на размер признакового описание и обучите LightFM с `loss='warp'` и посчитайте precision@10 на тесте.

In [ ]:
articles_unique_df = articles_df[['contentId', 'text']]

In [ ]:
articles_unique_df = (
    articles_unique_df
    .groupby('contentId')
    .first()
)

In [ ]:
articles_index = articles_unique_df.index.to_numpy()

In [ ]:
intersection = np.in1d(articles_index, content_ids_full)

In [ ]:
articles_unique_df = articles_unique_df[intersection]

In [ ]:
articles_unique_df

                                                                   text
contentId
-1006791494035379303  DeepMind may be a master at one of the most co...
-1021685224930603833  *Igor Schiewig 25/03/2016 - A Indústria 4.0 é ...
-1022885988494278200  In this post I will share 12 extremely useful ...
-1024046541613287684  It is no secret bitcoin entrepreneurs and star...
-1033806831489252007  v0.32.0-rc.0 on GitHub (npm) Breaking changes ...
...                                                                 ...
967143806332397325    O gigante chinês de buscas, Baidu, está procur...
972258375127367383    The Better Exposed Filters module replaces the...
980458131533897249    Why? We use Elasticsearch + Kibana for data an...
98528655405030624     Da política, do time de futebol, do tempo, do ...
991271693336573226    Publicado: A conversa de WhatsApp entre duas a...

[2976 rows x 1 columns]

In [ ]:
interaction_articles_index = articles_unique_df.index.to_numpy()

In [ ]:
intersection = ~np.in1d(content_ids_full, interaction_articles_index)

In [ ]:
intersection.shape

(2984,)

In [ ]:
missing_content_ids_full = content_ids_full[intersection]

In [ ]:
missing_values = np.array([''] * missing_content_ids_full.shape[0])

In [ ]:
missing_df = pd.DataFrame({'text': missing_values})

In [ ]:
index_dct = {i: missing_content_ids_full[i] for i in range(missing_content_ids_full.shape[0])}

In [ ]:
index_dct

{0: '8078873160882064481',
 1: '1179326165172129711',
 2: '-729129249377835720',
 3: '-6451309518266745024',
 4: '-8418620743404378592',
 5: '1556878199027930272',
 6: '-1172724258904585136',
 7: '3823268327704412514'}

In [ ]:
missing_df = missing_df.rename(index=index_dct)

In [ ]:
missing_df

                     text
8078873160882064481
1179326165172129711
-729129249377835720
-6451309518266745024
-8418620743404378592
1556878199027930272
-1172724258904585136
3823268327704412514

In [ ]:
articles_unique_df = articles_unique_df.append(missing_df)

In [ ]:
articles_unique_df

                                                                   text
-1006791494035379303  DeepMind may be a master at one of the most co...
-1021685224930603833  *Igor Schiewig 25/03/2016 - A Indústria 4.0 é ...
-1022885988494278200  In this post I will share 12 extremely useful ...
-1024046541613287684  It is no secret bitcoin entrepreneurs and star...
-1033806831489252007  v0.32.0-rc.0 on GitHub (npm) Breaking changes ...
...                                                                 ...
-6451309518266745024
-8418620743404378592
1556878199027930272
-1172724258904585136
3823268327704412514

[2984 rows x 1 columns]

In [ ]:
articles_unique_df_true_index = [np.where(i == content_ids_full)[0][0] for i in articles_unique_df.index.to_list()]

In [ ]:
articles_unique_df['true_index'] = articles_unique_df_true_index

In [ ]:
articles_unique_df_sorted = articles_unique_df.sort_values(by='true_index')

In [ ]:
articles_unique_df_sorted.head()

                                                                   text  true_index
8078873160882064481                                                               0
1179326165172129711                                                               1
-729129249377835720                                                               2
-6451309518266745024                                                              3
3353902017498793780   Ethereum, considered by many to be the most pr...           4

In [ ]:
# Ваш код здесь
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=2984)
feat = vectorizer.fit_transform(articles_unique_df_sorted['text'])

In [ ]:
model = LightFM(loss='warp')
model.fit(data_train_sparse, item_features=feat, epochs=20)

In [ ]:
predictions = model.predict(sparseRows_test, sparseColumns_test, item_features=feat)

In [ ]:
prc_feat = precision_at_k(model, data_test_sparse)

In [ ]:
prc_feat.mean()

0.32301426

## Задание 4. (2 балла)

В задании 3 мы использовали сырой текст статей. В этом задании необходимо сначала сделать предобработку текста (привести к нижнему регистру, убрать стоп слова, привести слова к номральной форме и т.д.), после чего обучите модель и оценить качество на тестовых данных.

In [ ]:
# Ваш код здесь
sample_text = articles_df[:1]['text']

In [ ]:
sample_text = sample_text[1]

In [ ]:
sample_text

'All of this work is still very early. The first full public version of the Ethereum software was recently released, and the system could face some of the same technical and legal problems that have tarnished Bitcoin. Many Bitcoin advocates say Ethereum will face more security problems than Bitcoin because of the greater complexity of the software. Thus far, Ethereum has faced much less testing, and many fewer attacks, than Bitcoin. The novel design of Ethereum may also invite intense scrutiny by authorities given that potentially fraudulent contracts, like the Ponzi schemes, can be written directly into the Ethereum system. But the sophisticated capabilities of the system have made it fascinating to some executives in corporate America. IBM said last year that it was experimenting with Ethereum as a way to control real world objects in the so-called Internet of things. Microsoft has been working on several projects that make it easier to use Ethereum on its computing cloud, Azure. "Ethereum is a general platform where you can solve problems in many industries using a fairly elegant solution - the most elegant solution we have seen to date," said Marley Gray, a director of business development and strategy at Microsoft. Mr. Gray is responsible for Microsoft\'s work with blockchains, the database concept that Bitcoin introduced. Blockchains are designed to store transactions and data without requiring any central authority or repository. Blockchain ledgers are generally maintained and updated by networks of computers working together - somewhat similar to the way that Wikipedia is updated and maintained by all its users. Many corporations, though, have created their own Ethereum networks with private blockchains, independent of the public system, and that could ultimately detract from the value of the individual unit in the Ethereum system - known as an Ether - that people have recently been buying. The interest in Ethereum is one sign of the corporate fascination with blockchains. Most major banks have expressed an interest in using them to make trading and money transfer faster and more efficient. On Tuesday, executives from the largest banks will gather for a conference, "Blockchain: Tapping I nto the Real Potential , Cutting Through the Hype." Many of these banks have recently been looking at how some version of Ethereum might be put to use. JPMorgan, for instance, has created a specific tool, Masala, that allows some of its internal databases to interact with an Ethereum blockchain. Michael Novogratz, a former top executive at the private equity firm Fortress Investing Group, who helped lead Fortress\'s investment in Bitcoin, has been looking at Ethereum since he left Fortress last fall. Mr. Novogratz said that he made a "significant" purchase of Ether in January. He has also heard how the financial industry\'s chatter about the virtual currency has evolved. "A lot of the more established players were thinking, \'It\'s still an experiment,\' " he said. "It feels like in the last two to three months that experiment is at least getting a lot more validation." Since the beginning of the year, the value of an individual unit of Ether has soared as high as $12 from around $1. That has brought the value of all existing Ether to over $1 billion at times, significantly more than any virtual currency other than Bitcoin, which had over $6 billion in value outstanding last week. Since Bitcoin was invented, there have been many so-called alt-coins that have tried to improve on Bitcoin, but none have won the following of Ethereum. Unlike Bitcoin, which was released in 2009 by a mysterious creator known as Satoshi Nakamoto, Ethereum was created in a more transparent fashion by a 21-year-old Russian-Canadian, Vitalik Buterin, after he dropped out of Waterloo University in Ontario. The most basic aim of Ethereum was to make it possible to program binding agreements into the blockchain - the smart contract concept. Two people, for instance, could program a bet on a sports game directly into the Ethereum blockchain. Once the final score came in from a mutually agreed upon source - say, The Associated Press - the money would be automatically transferred to the winning party. Ether can be used as a currency in this system, but Ether are also necessary to pay for the network power needed to process the bet. The Ethereum system has sometimes been described as a single shared computer that is run by the network of users and on which resources are parceled out and paid for by Ether. A team of seven co-founders helped Mr. Buterin write up the software after he released the initial description of the system. Mr. Buterin\'s team raised $18 million in 2014 through a presale of Ether, which helped fund the Ethereum Foundation, which supports the software\'s development. Like Bitcoin, Ethereum has succeeded by attracting a dedicated network of followers who have helped support the software, partly in the hope that their Ether will increase in value if the system succeeds. Last week, there were 5,800 computers - or nodes - helping support the network around the world. The Bitcoin network had about 7,400 nodes. One of Mr. Buterin\'s co-founders, Joseph Lubin, has set up ConsenSys, a company based in Brooklyn that has hired over 50 developers to build applications on the Ethereum system, including one that enables music distribution and another that allows for a new kind of financial auditing. The ConsenSys offices are in an old industrial building in the Bushwick section of Brooklyn. The office is essentially one large room, with all the messy trademarks of a start-up operation, including white boards on the walls and computer parts lying around. Mr. Lubin said he had thrown himself into Ethereum after starting to think that it delivered on some of the failed promise of Bitcoin, especially when it came to allowing new kinds of online contracts and markets. "Bitcoin presented the broad strokes vision, and Ethereum presented the crystallization of how to deliver that vision," he said. Joseph Bonneau, a computer science researcher at Stanford who studies so-called crypto-currencies, said Ethereum was the first system that had really caught his interest since Bitcoin. It is far from a sure thing, he cautioned. "Bitcoin is still probably the safest bet, but Ethereum is certainly No. 2, and some folks will say it is more likely to be around in 10 years," Mr. Bonneau said. "It will depend if any real markets develop around it. If there is some actual application."'

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import WordPunctTokenizer 

nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
stop_words = stopwords.words('english')
signs = ['.', ',', '/', '?', '!', ':', ';', '\'', '"', '-']

def preprocess_text(text):
    sample_text = text.lower()
    for s in signs:
        sample_text = sample_text.replace(s, '')

    tokenizer = WordPunctTokenizer()
    tokenized_list = tokenizer.tokenize(sample_text)

    tokenized_list_without_sw = [t for t in tokenized_list if t not in stop_words]

    lemmatizer = WordNetLemmatizer()
    lemmed_text = [lemmatizer.lemmatize(t) for t in tokenized_list_without_sw]

    sample_text_preprocessed = ' '.join(lemmed_text)
    return sample_text_preprocessed

In [ ]:
preprocess_text(sample_text)

'work still early first full public version ethereum software recently released system could face technical legal problem tarnished bitcoin many bitcoin advocate say ethereum face security problem bitcoin greater complexity software thus far ethereum faced much le testing many fewer attack bitcoin novel design ethereum may also invite intense scrutiny authority given potentially fraudulent contract like ponzi scheme written directly ethereum system sophisticated capability system made fascinating executive corporate america ibm said last year experimenting ethereum way control real world object socalled internet thing microsoft working several project make easier use ethereum computing cloud azure ethereum general platform solve problem many industry using fairly elegant solution elegant solution seen date said marley gray director business development strategy microsoft mr gray responsible microsofts work blockchains database concept bitcoin introduced blockchains designed store transaction data without requiring central authority repository blockchain ledger generally maintained updated network computer working together somewhat similar way wikipedia updated maintained user many corporation though created ethereum network private blockchains independent public system could ultimately detract value individual unit ethereum system known ether people recently buying interest ethereum one sign corporate fascination blockchains major bank expressed interest using make trading money transfer faster efficient tuesday executive largest bank gather conference blockchain tapping nto real potential cutting hype many bank recently looking version ethereum might put use jpmorgan instance created specific tool masala allows internal database interact ethereum blockchain michael novogratz former top executive private equity firm fortress investing group helped lead fortress investment bitcoin looking ethereum since left fortress last fall mr novogratz said made significant purchase ether january also heard financial industry chatter virtual currency evolved lot established player thinking still experiment said feel like last two three month experiment least getting lot validation since beginning year value individual unit ether soared high $ 12 around $ 1 brought value existing ether $ 1 billion time significantly virtual currency bitcoin $ 6 billion value outstanding last week since bitcoin invented many socalled altcoins tried improve bitcoin none following ethereum unlike bitcoin released 2009 mysterious creator known satoshi nakamoto ethereum created transparent fashion 21yearold russiancanadian vitalik buterin dropped waterloo university ontario basic aim ethereum make possible program binding agreement blockchain smart contract concept two people instance could program bet sport game directly ethereum blockchain final score came mutually agreed upon source say associated press money would automatically transferred winning party ether used currency system ether also necessary pay network power needed process bet ethereum system sometimes described single shared computer run network user resource parceled paid ether team seven cofounder helped mr buterin write software released initial description system mr buterins team raised $ 18 million 2014 presale ether helped fund ethereum foundation support software development like bitcoin ethereum succeeded attracting dedicated network follower helped support software partly hope ether increase value system succeeds last week 5800 computer node helping support network around world bitcoin network 7400 node one mr buterins cofounder joseph lubin set consensys company based brooklyn hired 50 developer build application ethereum system including one enables music distribution another allows new kind financial auditing consensys office old industrial building bushwick section brooklyn office essentially one large room messy trademark startup operation including white board wall computer part lying around mr lubin said thrown ethereum starting think delivered failed promise bitcoin especially came allowing new kind online contract market bitcoin presented broad stroke vision ethereum presented crystallization deliver vision said joseph bonneau computer science researcher stanford study socalled cryptocurrencies said ethereum first system really caught interest since bitcoin far sure thing cautioned bitcoin still probably safest bet ethereum certainly 2 folk say likely around 10 year mr bonneau said depend real market develop around actual application'

In [ ]:
articles_df_preprocessed = articles_unique_df_sorted

In [ ]:
articles_df_preprocessed.text = articles_df_preprocessed.text.apply(lambda x: preprocess_text(x))

In [ ]:
articles_df_preprocessed

                                                                   text  true_index
8078873160882064481                                                               0
1179326165172129711                                                               1
-729129249377835720                                                               2
-6451309518266745024                                                              3
3353902017498793780   ethereum considered many promising altcoin gra...           4
...                                                                 ...         ...
9213260650272029784   liga venture aceleradora de startup especializ...        2979
-3295913657316686039  amazon launched chime video conferencing chat ...        2980
3618271604906293310   february 9 2017 begin year look k12 computer s...        2981
6607431762270322325   jpmorgan chase & co learning machine parsing f...        2982
4109618890343020064   acquia partner award program comprised two cat...        2983

[2984 rows x 2 columns]

In [ ]:
vectorizer = TfidfVectorizer(max_features=2984)
feat = vectorizer.fit_transform(articles_df_preprocessed['text'])

In [ ]:
model = LightFM(loss='warp')
model.fit(data_train_sparse, item_features=feat, epochs=20)

In [ ]:
predictions_preprocessed = model.predict(sparseRows_test, sparseColumns_test, item_features=feat)
prc_feat_preprocessed = precision_at_k(model, data_test_sparse)
prc_feat_preprocessed.mean()

0.3789206

Улучшилось ли качество предсказания?

Ответ: увы нет( то ли я ошиблась в коде (хотя вроде все проверила), то ли стоит считать признаки не через TF-IDF а как-то иначе, но качество падает почти в 2 раза относительно модели без учета текста статей. Хотя препроцессинг немного повышает качество относительно TF-IDF на сыром тексте

## Задание 5. (2 балла)

Подберите гиперпараметры модели LightFM (`n_components` и др.) для улучшения качества модели.

In [ ]:
seed = np.random.RandomState(seed=19937)

In [ ]:
# Ваш код здесь
model = LightFM(loss='warp', no_components=25, max_sampled=100, learning_schedule='adagrad', 
                learning_rate=5e-4, random_state=seed)
model.fit(data_train_sparse, epochs=20)

In [ ]:
predictions = model.predict(sparseRows_test, sparseColumns_test)

In [ ]:
prc = precision_at_k(model, data_test_sparse)

In [ ]:
prc.mean()

0.6991852

## Бонусное задание. (3 балла)

Выше мы использовали достаточно простое представление текста статьи в виде TF-IDF. В этом задании Вам нужно представить текст статьи (можно вместе с заголовком) в виде эмбеддинга полученного с помощью рекуррентной сети или трансформера (можно использовать любую предобученную модель, которая Вам нравится). Обучите модель с ипользованием этих эмеддингов и сравните результаты с предыдущими.

In [ ]:
# Ваш код здесь